/*.table {
  position: relative;
  padding: 50px;
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.tableHeader h2 {
  font-weight: 600;
}
.btn {
  position: relative;
  padding: 5px 10px;
  background: #068fff;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}
.btn:hover {
  background: #007fe7;
  color: #fff;
}
.table table {
  margin-top: 20px;
  border-collapse: collapse;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: #fff;
}
.table table thead {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.table table thead th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 16px;
  font-weight: 800;
}
.table table tbody td {
  padding: 1rem 2rem;
  text-align: center;
}
.table table tbody td button {
  background: #01aa0f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 6px;
}
.table table tbody tr:nth-child(even) {
  background-color: #92b1ff;
}*/
